---
const year = new Date().getFullYear();
---

<footer class="container">
  <div class="footer">
    <div>
      <strong>José Valladares</strong>
      <span class="sep">•</span>
      <span class="small">© {year}</span>
    </div>

    <div class="small">
      Built with Astro on Cloudflare
    </div>
  </div>
</footer>
